include LICENSE
include README.rst
include VERSION
include MANIFEST.in
include requirements-dev.txt

recursive-include molo/profiles/templates *
recursive-include molo/profiles/test_templates *

global-exclude __pycache__
global-exclude *.py[co]
