{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profiles l-indent">
<form method="post" id="frmProfilePasswordChange" action="" class="profile">
{% csrf_token %}
   {% if form.errors or form.non_field_errors %}
      {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
              <p class="errorlist">{{ error }}</p>
          {% endfor %}
      {% endif %}
  {% endif %}

  {% if messages %}
    <ul class="errorlist">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

   <div class="profile__fieldset">
      <label class="profile__label">{% trans "Old Password" %}</label>
      <p>{{form.old_password}}</p>
      <span>{{form.old_password.errors}}</span>
   </div>
   <div class="profile__fieldset">
      <label class="profile__label">{% trans "New Password" %}</label>
      <p>{{form.new_password}}</p>
      <span>{{form.new_password.errors}}</span>
   </div>
   <div class="profile__fieldset">
      <label class="profile__label">{% trans "Confirm New Password" %}</label>
      <p>{{form.confirm_password}}</p>
      <span>{{form.confirm_password.errors}}</span>
   </div>
   <input type="submit" value='{% trans "Change Password" %}' class="button__pill button__pill--navy">
</form>
</div>
{% endblock %}
