{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profiles">
  <h4 class="profiles__title">{% trans "Thank you for joining!" %}</h4>
  <p>{% trans "Let us know your birthday to get access to exclusive content." %}</p>

  <form method="post" action="{% url 'molo.profiles:registration_done' %}" class="profiles__form">{% csrf_token %}
    <fieldset>
        {{ form.date_of_birth }}
    </fieldset>
    <input type="submit" value='{% trans "Update" %}' />
  </form>

  <a href="/" class="button__pill">{% trans "Skip" %}</a>
</div>

{% endblock %}
