{% extends "base.html" %}
{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
<div class="profiles">
		<form method="post" action="{% url 'molo.profiles:edit_my_profile' %}" class="profiles__form">{% csrf_token %}
			<span class="profile__feedback">{% trans "Type new display name:" %}</span>
			{{ form.alias }}
     <span class="profile__feedback">{% trans "Update your date of birth:" %}</span>
	      {{ form.date_of_birth }}

 
			{% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
	      <label>{% trans "Update your mobile number:" %}</label>
		      {{ form.mobile_number.errors }}
		      {{ form.mobile_number }}
			{% endif %}

			{% if settings.profiles.UserProfilesSettings.show_email_field %}
	      <label>{% trans "Update your email address:" %}</label>
		      {{ form.email.errors }}
		      {{ form.email}}
			{% endif %}
	
			<input type="submit" value='{% trans "Update profile" %}'>
		</form>
</div>

{% endblock %}
