{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h4 class="heading heading--subtitle">
  {% trans "Forgot PIN" %}
</h4>
<div class="profiles">
  <form method="post" action="{% url 'molo.profiles:forgot_password' %}" class="profiles__form">
  {% csrf_token %}

    {% if form.errors %}
      <ul class="error-list">
      {% for key, errors in form.errors.iteritems %}
          {% for error in errors %}
              <li class="error-list__item error">{% trans error %}</li>
          {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}

    <fieldset>
      {% for field in form %}
      <label>{% trans field.label_tag %}</label>
      {{ field }}
        {% if forloop.counter == 1 %}
          <!--Seperate the username from the security questions by the heading below-->
          <label>{% trans "Security question" %}</label>
          <label>{% trans "Please answer the following security question." %}</label>
        {% endif %}
      {% endfor %}
    </fieldset>
      <input type="submit" value='{% trans "Forgot PIN" %}' />
  </form>
</div>
{% endblock %}
