{% extends "base.html" %}
{% load i18n static core_tags wagtailsettings_tags %}
{% get_settings %}

{% block content %}
<h1 class="heading heading--profiles">{% trans "Register" %}</h1>
<h4 class="heading heading--subtitle">
    {% trans "Not a member yet?" %}<br/>
    {% trans "Join us by signing up below." %}
</h4>
<div class="profiles">
  <form method="post" action="{% url "molo.profiles:user_register" %}" class="profiles__form">
  {% csrf_token %}
    <fieldset>
      <label for="id_username">{% trans "Choose a username" %}</label>
      {{ form.username.errors}}
      {{ form.username }}
    </fieldset>

    <fieldset>
      <label for="id_password">{% trans "Choose a 4-digit pin" %}</label>
      {{ form.password.errors}}
      {{ form.password }}
    </fieldset>

    <fieldset>
      {% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
      <label for="mobile_number">{% trans "Enter your mobile number" %}</label>
      {% trans "(e.g. +27900000013)" %}
      {{ form.mobile_number.errors}}
      {{ form.mobile_number }}
      {% endif %}
    </fieldset>

    <fieldset>
      {% if settings.profiles.UserProfilesSettings.show_email_field %}
      <label for="id_email">{% trans "Enter your email addresss" %}</label>
      {% trans "(e.g. example@foo.com)" %}
      {{ form.email.errors}}
      {{ form.email }}
      {% endif %}
    </fieldset>

    <fieldset>
      {% if form.terms_and_conditions.errors %}
      <p>{% trans "Please accept the T&Cs in order to complete the registration" %}</p>
      {% endif %}
      {{ form.terms_and_conditions }}
      <label for="id_terms_and_conditions" class="profiles__terms">{% trans "I accept the Terms and Conditions" %}</label>
    </fieldset>

    <input type="submit" value="{% trans "Save" %}"/>
    <input type="hidden" name="next" value="{% url "molo.profiles:registration_done" %}"/>
  </form>
</div>
<div class="call-to-action call-to-action--profile">
    <h5 class="call-to-action__challenge">{% trans "Already a member?" %}</h5>
    <a href="{% url "molo.profiles:auth_login" %}" class="call-to-action__login">{% trans "Login" %}</a>
</div>
{% endblock %}
