{% extends "base.html" %}
{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}

  <div class="super-heading l-indent">
    <h3 class="super-heading__title">{% trans "Hello " %}{{ user.username }}</h3>
  </div>

  <div class="profiles l-indent">
    <label class="profile_label">{% trans "Display Name: " %}{{ user.profile.alias | default:'Anonymous' }}</label>
    <label class="profile_label">{% trans "Date of Birth: " %}{{ user.profile.date_of_birth | date:"M d, Y" }}</label>
    {% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
      <label class="profile_label">{% trans "Mobile Number: " %}{{ user.profile.mobile_number | default:'' }}</label>
    {% endif %}
    {% if settings.profiles.UserProfilesSettings.show_email_field %}
      <label class="profile_label">{% trans "Email Address: " %}{{ user.email | default:'' }}</label>
    {% endif %}

    <a href="{% url 'molo.profiles:auth_logout' %}" class="button__pill button__pill--navy">
      {% trans "log out" %}
    </a>
    <a href="{% url 'molo.profiles:edit_my_profile' %}" class="button__pill button__pill--navy">
      {% trans "Edit My Profile" %}
    </a>
    <a href="{% url 'molo.profiles:profile_password_change' %}" class="button__pill button__pill--navy">
      {% trans "Change My Password" %}
    </a>
  </div>

{% endblock %}
