{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="profile-style">

  <h3>{% trans "Hello " %}{{ username }}</h3>
  <label class="label-wide">{% trans "Display Name:" %}{{ alias }}</label>
  <label class="label-wide">{% trans "Date of Birth:" %}{{ date_of_birth | date:"M d, Y" }}</label>
  <a href="{% url 'molo.profiles:auth_logout' %}" class="btn btn-wide"><input type="button" value='{% trans "log out" %}' class="btn btn-wide" /></a>
  <a href="{% url 'molo.profiles:edit_display_name' %}" class="btn btn-wide"><input type="button" value='{% trans "Edit My Display Name" %}' class="btn btn-wide" /></a>
  <a href="{% url 'molo.profiles:edit_my_date_of_birth' %}" class="btn btn-wide"><input type="button" value='{% trans "Edit My Date Of Birth" %}' class="btn btn-wide" /></a>
  <a href="{% url 'molo.profiles:profile_password_change' %}" class="btn btn-wide"><input type="button" value='{% trans "Change My Password" %}' class="btn btn-wide" /></a>

</div>

{% endblock %}
