{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3 class="heading heading--profiles">{% trans "Sign in" %}</h3>
<div class="profiles">
	<h4 class="profiles__title">{% trans "LOGIN TO YOUR ACCOUNT!" %}</h4>
	<span class="profiles__subtitle">{% trans "We’re excited to have you..." %}</span>

	    <form method="post" action="." class="profiles__form">
	    {% csrf_token %}
	        {% if form.errors %}
	            <span class="error">{% trans "Your username and password does not match. Please try again." %}</span>
	        {% endif %}

	      <fieldset>
					<label>{% trans "Username" %}<label>
					{{form.username}}
				</fieldset>

				<fieldset>
					<label>{% trans "4-digit pin" %}<label>
					{{form.password}}
				</fieldset>
					<input type="submit" value="{% trans 'Save' %}">
					<input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{request.site.root_page.url}}{% endif %}" />
	    </form>
	    <a href="{% url 'password_reset' %}" class="button__pill button__pill--navy">{% trans 'Forgotten your password?' %}</a>
</div>

<div class="profiles-login">
	    <h5 class="profiles-login__title">{% trans "Not a member yet?" %}</h5>
	   	<a href="{% url 'molo.profiles:user_register' %}" class="button__pill button__pill--white">{% trans "Join" %}</a>
</div>
		
{% endblock %}
